{% extends 'master.html' %}

{% block  content %}
    <div class="container">
        <h1 style="text-align:center;">
            My Rating
        </h1>
        {% for rating in ratings %}
        <div class="row rating-bg">
            <img class="rating-img" src="{{rating.receta.img}}"></img>
            <div class="rating-text">
                <a href="{% url 'get_by_href' url=rating.receta.url %}">{{rating.receta.title}}</a>
                <h2>{{rating.receta.tag}}</h2>
            </div>
            <div class="rating-rating">
                <h3>Rating</h3>
                <h1>{{rating.nota}}</h1>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}