{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <h1>Receta</h1>
        <img src="{{image}}" width="150"></img>
        <h2>{{title}}</h2>
        <h2>{{summary}}</h2>
        <h2 style="color: red;">{{category}}</h2>
        <h2>{{ingredients}}</h2>
        <h2>{{directions}}</h2>
        <h2>{{nutrition}}</h2>
        <a href="{{href}}">See on original page</a>
    </div>
</body>
</html>