{% extends 'master.html' %}

{% load static %}
{% block  content %}
    <div class="container-fluid">
        <div class="row">
            <div class="info-aside col-md-4 col-sm-12 col-12">
                <img class="info-img" src="{{image}}"></img>
                <h2>Tag: {{category}}</h2>
                <a href="{{href}}">See on original page</a>
                <div class="row">
                <form method="GET" action="{% url 'add_recipe_to_daily_plan' %}">
                    <input type="hidden" id="recipe_url" name="recipe_url" value="{{href}}">
                    <input type="submit" class="btn btn-outline-success" value="Add it to your daily plan!">
                </form>
                </div>
                <div class="row">
                <form method="GET" action="{% url 'add_rating' %}">
                    <input type="hidden" id="recipe_url" name="recipe_url" value="{{href}}">
                    <div class="row">
                    <select class="form-control" id="nota" name="nota">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <input type="submit" class="btn btn-outline-success" value="Rating!">
                    </div>
                </form>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-12">  
                <h1>{{title}}</h1>
                <section>
                    <h2>{{summary}}</h2>
                </section>
                <section>
                    <h2>Ingredients</h2>
                    {% for ingredient in ingredients %}
                    <h3>{{ingredient}}</h3>
                    {% endfor %}
                </section>
                <section>
                    <h2>Directions</h2>
                    {% for direction in directions %}
                    <h3>{{direction}}</h3>
                    {% endfor %}
                </section>
                <section>
                    <h2>Nutritional Facts</h2>
                    <h3>{{nutrition}}</h3>
                </section>
            </div>
        </div>
    </div>
{% endblock %}