{% extends 'master.html' %}

{% load static %}
{% block  content %}
    <div class="container">
        {% for recipe in recommended %}
        <div class="row rating-bg">
            <img class="rating-img" src="{{recipe.0.img}}"></img>
            <div class="rating-text">
                <a href="{% url 'get_by_href' url=recipe.0.url %}">{{recipe.0.title}}</a>
                <h2>{{recipe.0.tag}}</h2>
            </div>
            <div class="rating-rating">
                <h3>Score</h3>
                <h1>{{recipe.1}}</h1>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}