{% extends 'master.html' %}

{% load static %}
{% block  content %}
<div class="container-fluid">
    <div class="row">
        <div class="info-aside col-md-3 col-sm-12 col-12">
            <form action="{% url 'recipe_search' %}" method="get" id="extended_search_form">
                <label for="query">Your query here: </label>
                <input class="form-control" id="query" name="query" value="{{request.GET.query}}"/>
                <label for="ingredients_to_include">Your ingredients here: </label>
                <textarea class="form-control" id="ingredients_to_include" name="ingredients_to_include" form="extended_search_form" rows="3">{{request.GET.ingredients_to_include}}</textarea>
        
                <label for="ingredients_to_exclude">Your ingredients to exclude here: </label>
                <textarea class="form-control" id="ingredients_to_exclude" name="ingredients_to_exclude" form="extended_search_form" rows="3">{{request.GET.ingredients_to_exclude}}</textarea>
        
                <label for="tag">Tag to filter here:</label>
                <select class="form-control" id="tag" name="tag">
                    <option value="">---</option>
                    {% for tag in tags%}
                        <option value="{{tag}}" {% ifequal request.GET.tag tag.nombre %} selected {% endifequal %}>{{tag}}</option>
                    {% endfor %}
                </select>
            </form>
            <div>
                <!--Pagination item with javascript-->
                <nav aria-label="...">
                        <ul class="pagination">
                        <li class="page-item {% if request.GET.page_num == '1' %}disabled{% endif %}">
                        <a class="page-link" href="#" onClick="addPageNumToFormAndSend({{prev}})" onc tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" onclick="addPageNumToFormAndSend({{request.GET.page_num}})">{{request.GET.page_num}}</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#" onClick="addPageNumToFormAndSend({{next}})">{{next}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" onClick="addPageNumToFormAndSend({{next2}})">{{next2}}</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#" onClick="addPageNumToFormAndSend({{next}})">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <script type="text/javascript" src="{% static "js/pagination.js" %}"></script>
        </div>
        <div class="col-md-9 col-sm-12 col-12">  
            <div>
                <div class="container">
                    <h1>Search results: {{request.GET.query}}</h1>
                </div>
                <div class="row">
                    <div class="recipe-found">
                        <h2><span id="result_len">{{result_len}}</span> recipes has been found</h2>
                    </div>
                    <div class="recipe-page-len">
                        <label for="page_len">Page len</label>
                        <input id="page_len" type="number" name="page_len" min="15" max="30" step="5" form="extended_search_form" value="{{request.GET.page_len}}">
                    </div>
                </div>
            </div>
            
            <div class="recipe-container">
            {% for recipe in recipes %}
            <div class="recipe">
                <a href="{% url 'get_by_href' url=recipe.href %}"><img src="{{recipe.image}}" width="150"></img></a>
                <h2>{{recipe.title}}</h2>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}